// @font-face {
//   font-family: "font-1";
//   src: url(../assets/fonts/JosefinSans-Medium.ttf);
// }

// $font-1: "font-1", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Indie+Flower&display=swap");
$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  background: $white;
  //   display: flex; //   font-family: $font-1;beef
  //   @include verticalCenter;
  min-height: 100vh;
}
li {
  list-style-type: none;
}
.app-container {
  max-width: 1000px;
  justify-content: center;
  margin: auto;
}
